<div class="ibox-tools" uib-dropdown="">
    <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
    <a href="http://webapplayers.com/inspinia_admin-v2.6.2.1/angular/views/common/ibox_tools.html" uib-dropdown-toggle="">
        <i class="fa fa-wrench"></i>
    </a>
    <ul uib-dropdown-menu="">
        <li><a href="http://webapplayers.com/inspinia_admin-v2.6.2.1/angular/views/common/ibox_tools.html">Config option 1</a>
        </li>
        <li><a href="http://webapplayers.com/inspinia_admin-v2.6.2.1/angular/views/common/ibox_tools.html">Config option 2</a>
        </li>
    </ul>
    <a ng-click="closebox()"><i class="fa fa-times"></i></a>
</div>